/* -----------------------
    RESET
----------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------
    MAIN
---------------------- */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: radial-gradient(circle, #da1d4b, #a31b3f, #6f1830, #3e121f, #120105);
}
#app {
    max-width: 25rem;
    width: 100%;
    background: #d59c99ed;
    padding: 2.5rem 1.25rem;
    border-radius: .9375rem;
    box-shadow: 9px 9px 15px 0px #3e2141;
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .9375rem;
}
.title span {
    font-size: 1.125rem;
    cursor: pointer;
}
.title span i {
    transition: 0.3s ease-out;
}
ul {
    overflow: hidden;
    height: 0px;
    opacity: 0;
    transition: all 0.4s ease-out;
}
ul li {
    margin: .3125rem 0 0 1.25rem;
}
.banner {
    color: #da1d4b;
    font-weight: bold;
}
.show {
    height: 16.5rem;
    opacity: 1;
}
.d-none {
    display: none;
}
.rotate {
    transform: rotateZ(180deg);
}